backend/n8n_workflow_lifequest_avatar.json
{
  "name": "LifeQuest Hero - Avatar Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lifequest-avatar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "lifequest-avatar"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные от backend\nconst userData = $input.item.json;\nconst branch = userData.branch || 'power';\nconst gender = userData.gender || 'male';\nconst age = userData.age || 25;\nconst level = userData.level || 1;\nconst selfieUrl = userData.selfie_url;\n\n// Определяем стиль одежды в зависимости от ветки\nconst clothingStyles = {\n  power: {\n    male: 'athletic sportswear, gym hoodie and joggers, sneakers, confident pose',\n    female: 'athletic sportswear, sports bra and leggings, sneakers, strong pose'\n  },\n  stability: {\n    male: 'casual business attire, button-up shirt and chinos, loafers, calm pose',\n    female: 'business casual, blouse and trousers, ballet flats, balanced pose'\n  },\n  longevity: {\n    male: 'comfortable casual wear, t-shirt and jeans, running shoes, relaxed pose',\n    female: 'comfortable casual wear, flowy top and yoga pants, sneakers, peaceful pose'\n  }\n};\n\n// Получаем одежду для конкретной ветки и пола\nconst clothing = clothingStyles[branch][gender];\n\n// Уровень влияет на детализацию\nconst qualityLevel = level <= 10 ? 'good quality' : level <= 25 ? 'high quality, detailed' : 'ultra high quality, highly detailed, polished';\n\n// Создаем промпт для Nano Banana\nconst prompt = `Transform this person into a 3D cartoon character while maintaining their facial features, hairstyle, and overall appearance. Style: vibrant, colorful, animated movie quality, pixar-like rendering. The character should be wearing ${clothing}. Age appearance: ${age} years old. Quality: ${qualityLevel}, smooth textures, professional lighting. Background: clean gradient (light to dark), no distractions. The character should look heroic but realistic, not a superhero costume.`;\n\n// Возвращаем все данные + промпт\nreturn {\n  user_id: userData.user_id,\n  tg_id: userData.tg_id,\n  selfie_url: selfieUrl,\n  branch: branch,\n  level: level,\n  gender: gender,\n  age: age,\n  prompt: prompt\n};"
      },
      "id": "generate-prompt",
      "name": "Generate Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/imagen-3.0-generate-001:generateImage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "referenceImage",
              "value": "={{ $json.selfie_url }}"
            },
            {
              "name": "numberOfImages",
              "value": "1"
            },
            {
              "name": "aspectRatio",
              "value": "1:1"
            },
            {
              "name": "personGeneration",
              "value": "allow_adult"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "call-nano-banana",
      "name": "Call Nano Banana API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "notes": "Gemini Nano Banana Image Generation with reference image",
      "notesInFlow": true
    },
    {
      "parameters": {
        "jsCode": "// Получаем результат от Nano Banana\nconst response = $input.item.json;\nconst userData = $input.item.json;\n\n// Извлекаем URL сгенерированного изображения\nlet avatarUrl = null;\n\nif (response.generatedImages && response.generatedImages.length > 0) {\n  // Gemini возвращает base64, нужно либо сохранить, либо получить URL\n  const imageData = response.generatedImages[0];\n  \n  // Если это base64, конвертируем в URL (через хранилище)\n  if (imageData.imageData) {\n    avatarUrl = `data:image/png;base64,${imageData.imageData}`;\n  } else if (imageData.uri) {\n    avatarUrl = imageData.uri;\n  }\n}\n\n// Если URL не получен, используем заглушку\nif (!avatarUrl) {\n  avatarUrl = 'https://placehold.co/400x400/FF6B35/FFF?text=Hero';\n}\n\nreturn {\n  user_id: userData.user_id,\n  tg_id: userData.tg_id,\n  avatar_url: avatarUrl,\n  level: userData.level,\n  branch: userData.branch\n};"
      },
      "id": "process-image",
      "name": "Process Image Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://spec-analyzer-4.preview.emergentagent.com/api/webhooks/avatar-generated",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-to-backend",
      "name": "Send to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "notes": "Отправляем результат обратно в backend"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Avatar generation started', user_id: $json.user_id }) }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Generate Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Prompt": {
      "main": [
        [
          {
            "node": "Call Nano Banana API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Nano Banana API": {
      "main": [
        [
          {
            "node": "Process Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image Response": {
      "main": [
        [
          {
            "node": "Send to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Backend": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-01T13:00:00.000Z",
  "versionId": "1"
}
