backend/n8n_workflow_simple_test.json
{
  "name": "LifeQuest Avatar - Simple Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lifequest-avatar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные от backend\nconst data = $input.item.json;\n\n// Создаем тестовый аватар URL\nconst avatarUrl = `https://placehold.co/400x400/FF6B35/FFF?text=Level+${data.level || 1}`;\n\n// Возвращаем данные для backend\nreturn {\n  user_id: data.user_id,\n  tg_id: data.tg_id,\n  avatar_url: avatarUrl,\n  level: data.level || 1,\n  branch: data.branch || 'power',\n  test_mode: true\n};"
      },
      "id": "create-test-avatar",
      "name": "Create Test Avatar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://spec-analyzer-4.preview.emergentagent.com/api/webhooks/avatar-generated",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "send-to-backend",
      "name": "Send to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Avatar set', user_id: $('Create Test Avatar').item.json.user_id }) }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create Test Avatar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Test Avatar": {
      "main": [
        [
          {
            "node": "Send to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Backend": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-01T13:45:00.000Z",
  "versionId": "1"
}
